<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snail.audio.admin.mapper.AudioServerMapperExt" >
  <resultMap id="BaseResultMap" type="com.snail.audio.admin.entity.AudioServer" >
    <id column="server_id" property="serverId" jdbcType="INTEGER" />
    <result column="server_name" property="serverName" jdbcType="VARCHAR" />
    <result column="dspnum" property="dspnum" jdbcType="INTEGER" />
    <result column="svc_url" property="svcUrl" jdbcType="VARCHAR" />
    <result column="http_url" property="httpUrl" jdbcType="VARCHAR" />
    <result column="com_url" property="comUrl" jdbcType="VARCHAR" />
    <result column="com_url_lan" property="comUrlLan" jdbcType="VARCHAR" />
    <result column="bignode" property="bignode" jdbcType="BIT" />
    <result column="valid" property="valid" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    server_id, server_name, dspnum, svc_url, http_url, com_url, com_url_lan, bignode, 
    valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from audio_servers
    where server_id = #{serverId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from audio_servers
    where server_id = #{serverId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.snail.audio.admin.entity.AudioServer" >
    insert into audio_servers (server_id, server_name, dspnum, 
      svc_url, http_url, com_url, 
      com_url_lan, bignode, valid)
    values (#{serverId,jdbcType=INTEGER}, #{serverName,jdbcType=VARCHAR}, #{dspnum,jdbcType=INTEGER}, 
      #{svcUrl,jdbcType=VARCHAR}, #{httpUrl,jdbcType=VARCHAR}, #{comUrl,jdbcType=VARCHAR}, 
      #{comUrlLan,jdbcType=VARCHAR}, #{bignode,jdbcType=BIT}, #{valid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.snail.audio.admin.entity.AudioServer" >
    insert into audio_servers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        server_id,
      </if>
      <if test="serverName != null" >
        server_name,
      </if>
      <if test="dspnum != null" >
        dspnum,
      </if>
      <if test="svcUrl != null" >
        svc_url,
      </if>
      <if test="httpUrl != null" >
        http_url,
      </if>
      <if test="comUrl != null" >
        com_url,
      </if>
      <if test="comUrlLan != null" >
        com_url_lan,
      </if>
      <if test="bignode != null" >
        bignode,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="serverName != null" >
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="dspnum != null" >
        #{dspnum,jdbcType=INTEGER},
      </if>
      <if test="svcUrl != null" >
        #{svcUrl,jdbcType=VARCHAR},
      </if>
      <if test="httpUrl != null" >
        #{httpUrl,jdbcType=VARCHAR},
      </if>
      <if test="comUrl != null" >
        #{comUrl,jdbcType=VARCHAR},
      </if>
      <if test="comUrlLan != null" >
        #{comUrlLan,jdbcType=VARCHAR},
      </if>
      <if test="bignode != null" >
        #{bignode,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snail.audio.admin.entity.AudioServer" >
    update audio_servers
    <set >
      <if test="serverName != null" >
        server_name = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="dspnum != null" >
        dspnum = #{dspnum,jdbcType=INTEGER},
      </if>
      <if test="svcUrl != null" >
        svc_url = #{svcUrl,jdbcType=VARCHAR},
      </if>
      <if test="httpUrl != null" >
        http_url = #{httpUrl,jdbcType=VARCHAR},
      </if>
      <if test="comUrl != null" >
        com_url = #{comUrl,jdbcType=VARCHAR},
      </if>
      <if test="comUrlLan != null" >
        com_url_lan = #{comUrlLan,jdbcType=VARCHAR},
      </if>
      <if test="bignode != null" >
        bignode = #{bignode,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=BIT},
      </if>
    </set>
    where server_id = #{serverId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snail.audio.admin.entity.AudioServer" >
    update audio_servers
    set server_name = #{serverName,jdbcType=VARCHAR},
      dspnum = #{dspnum,jdbcType=INTEGER},
      svc_url = #{svcUrl,jdbcType=VARCHAR},
      http_url = #{httpUrl,jdbcType=VARCHAR},
      com_url = #{comUrl,jdbcType=VARCHAR},
      com_url_lan = #{comUrlLan,jdbcType=VARCHAR},
      bignode = #{bignode,jdbcType=BIT},
      valid = #{valid,jdbcType=BIT}
    where server_id = #{serverId,jdbcType=INTEGER}
  </update>
</mapper>